body{
    background-color:#2980b9 ;
    height:100%;
    
}
.cards{
    height:800px;
    margin-left: 600px;
}
#search{
    border-radius: 50px;
    border: none;
    outline: none;

}
.card{
    box-shadow: 10px 10px 5px lightblue;

   background-color: #2d98da;
}

.text{
    color: white;
  text-shadow: 2px 2px 5px #000000;
}